/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/


body {
	background-color: #bdc3c7;
	margin: 35px;
	width: 300px; /* šířka celého profilu - zadání */
	box-shadow: 4px 2px 16px 0;
}

.hlavicka {
	position: relative;
}

.foto {
	width: 300px;
}

.logo {
	position: absolute;
	right: 25px;
	bottom: -25px;
	background-color: #b92e81;
	border-radius: 50%;
}

.profil {
	width: 300px;
	color: white;
	background-color: #31363b;
}

.obsah {
	padding: 20px; /* 20px odsazení obsahu dle zadání*/
	font-family: 'Source Sans Pro', sans-serif;
}

h1,
.odkazy {
	font-family: 'Montserrat', sans-serif;
}

/* původní verze stylování odkazů, která mi nefungovala:
.odkazy {
	border-top: 2px solid #3f464d;
	text-transform: capitalize;
	text-decoration: none;
	color: white;
}*/

.odkazy {
	list-style-type: none;
	padding-left: 0;
	display: inline;
}

a {
	color: white;
	text-decoration: none;
}
/*původně jsem nastavovala tyto hodnoty pro text u tříd "odkazy" nebo u jednotlivých čudlat, ale nefungovalo. Proč? Zeptat se! */

.twitter,
.facebook,
.portfolio {
	display: inline-block;
	border-top: 2px solid #3f464d;
	text-align: center;
	padding: 5px;
}

.portfolio {
	width: 100%;
}

.twitter,
.facebook {
	width: 50%;
}

.twitter :hover {
	background-color: #1da1f2;
}

.facebook :hover {
	background-color: #3b5998;
}

.portfolio :hover {
	background-color: #e74c3c;
}
